<!DOCTYPE html>
<html>
<head>
  <title>Running Route Planner</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0Nh3kX7SSHkYgO-AnAJmDrXzRwGUEyMY&libraries=geometry"></script>

</head>
<body>
  <h1>Running Route Planner</h1>
  <form id="route-form">
    <label for="address">Start Address:</label>
    <input type="text" id="address" name="address" required>
    <label for="distance">Distance (meters):</label>
    <input type="number" id="distance" name="distance" required>
    <button type="submit">Calculate Route</button>
  </form>
  <div id="total-distance"></div>
  <div id="map" style="height: 500px; width: 100%;"></div>
</body>
<script src="index.js"></script>
</html>
